* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

.contac {
    height: 70vh;
    background-image: url("picture/cafe.jpg");
    background-position: bottom;

}

/* .logo{
    width: 10%;
}
.logo img{
    width: 100%;
} */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 100px;
}

.navbar ul {
    list-style: none;
    display: flex;
    color: #fff;
    width: 50%;
    cursor: pointer;
}

.navbar li {
    padding: 15px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.main_content {
    color: #fff;
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 100px;
}

.main_content h2 {
    padding-bottom: 20px;
    font-family: "Courgette", cursive;
    font-size: 30px;
    font-weight: 600;
}

.main_content div {
    font-size: 18px;
    font-weight: 500;
}

.map iframe {
    width: 100%;
}

.contact_sec {
    text-align: center;
    padding: 30px 0;
}

.contact_sec h1 {
    color: #5e5e5e;
    font-family: "Courgette", cursive;
    font-size: 33px;
    font-weight: 800;
    margin: 10px 0;
}

.contact_sec p {
    color: #5e5e5e;
    width: 50%;
    margin: auto;
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}

.contact_sec form input,
.contact_sec form textarea {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    padding: 13px;
    border: 1px solid #dddddd;
    outline: none;
    font-size: 25px;
}

.submit button {
    padding: 10px 97px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #614a3d;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}

.submit button:hover {
    background-color: #000;
}